<div{{ attributes.addClass('badge') }}>
  <div class="badge__container">
    {% if icon %}
      <div class="badge__icon">
        {{ source(componentMetadata.path ~ '/icons/' ~ icon|default('knife') ~ '.svg') }}
      </div>
    {% endif %}
    <span class="badge__text">
      {% block text %}{{- text -}}{% endblock %}
    </span>
  </div>
</div>
